<h3>기록 편집</h3>

  <div class="row">
    <form action="/healthnote/update/<%= @Healthnote.id %>" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">add</i>
          <input id="icon_prefix" name="order" type="intger" class="validate" value="<%=@Healthnote.order%>">
          <label for="icon_prefix">번호</label>
        </div>  
        <div class="input-field col s6">
          <i class="material-icons prefix">pets</i>
          <input id="icon_prefix" name="content" type="text" class="validate" value="<%=@Healthnote.content%>">
          <label for="icon_prefix">진료내용</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">today</i>
          <input id="icon_telephone" name="date" type="tel" class="validate"value="<%=@Healthnote.date%>">
          <label for="icon_telephone">날짜</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">local_hospital</i>
          <input id="icon_telephone" name="hospital" type="tel" class="validate" value="<%=@Healthnote.hospital%>">
          <label for="icon_telephone">동물병원</label>
        </div>  
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <input id="icon_telephone" name="etc" type="tel" class="validate" value="<%=@Healthnote.etc%>">
          <label for="icon_telephone">비고</label>
         </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">저장<i class="material-icons left">pets</i></button>      
            
    </form>
    <a class="btn waves-effect waves-light" href="/healthnote/index" name="action">돌아가기<i class="material-icons left">pets</i></a>
  </div>