<div class="container">
  <h2>비밀번호 찾기</h2>
  
  <div class="devise_block">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <div class="actions center">
        <%= f.submit "비밀번호 재설정 메일 보내기", class: "btn" %>
      </div>
    <% end %>
    
    <div class="center" style="margin-top: 1em;">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>