<div class="row">
  <div class="col s10 offset-s1">
    <div class="center" style="background-color: rgba( 255, 231, 234, 0.3 ); padding: 1em; margin-top: 3em;">
      <h2>멍냥 스타일</h2>
      <%= link_to "내 사진 등록/관리하기", posts_path, class: "btn-large pink waves-effect waves-light" %>
    </div>
    
    <div class="row" style="margin-top: 2em;">
      <div class="col s12">
        <div class="row">
          <% Post.all.reverse.each do |item| %>
            <div class="col s4 l3">
              <div class="gallery_img card hoverable blue lighten-4">
                <a class="modal-trigger" href="#post_img<%= item.id %>" >
                  <div class="card-image">
                    <img src="<%= item.img %>">
                    <span class="card-title"><%= item.title %></span>
                  </div>
                </a>
                <div class="card-content">
                  <p><%= item.content %></p>
                  <% if user_signed_in? %>
                    <br>
                    <p class="like_p">
                    <% if UserPost.where(user: current_user, post: item ).take and UserPost.where(user: current_user, post: item ).take.liked %>
                      <i class="right unlike_btn material-icons pink-text" post_id="<%= item.id %>">thumb_up</i>
                    <% else %>
                      <i class="right like_btn material-icons grey-text" post_id="<%= item.id %>">thumb_up</i>
                    <% end %>
                    <span class="right like_cnt" id="post_cnt<%= item.id %>"><%= item.like %></span></p>
                  <% end %>
                </div>
              </div>
            </div>
            
            <div id="post_img<%= item.id %>" class="modal">
              <div class="modal-content">
                <img src="<%= item.img %>" style="max-height: 100%; max-width: 100%;">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  
  $(document).on('click', '.like_btn', function(){
    btn = this
    $.ajax({
      url: '/like/processing',
      dataType: 'json',
      data: {
        post_id: $(this).attr("post_id")
      },
      success: function(data){
        $("#post_cnt"+data.id).text(data.like)
        $(btn).removeClass("like_btn")
        $(btn).removeClass("grey-text")
        $(btn).addClass("unlike_btn")
        $(btn).addClass("pink-text")
      }
    });
  })
  
  $(document).on('click', '.unlike_btn', function(){
    btn = this
    $.ajax({
      url: '/like/deprocessing',
      dataType: 'json',
      data: {
        post_id: $(this).attr("post_id")
      },
      success: function(data){
        $("#post_cnt"+data.id).text(data.like)
        $(btn).removeClass("unlike_btn")
        $(btn).removeClass("pink-text")
        $(btn).addClass("like_btn")
        $(btn).addClass("grey-text")
      }
    });
  })
  
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  
});
</script>