<p id="notice"><%= notice %></p>

<p>
  <strong>제목:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @post.content %>
</p>
<p>
  <strong>사진:</strong>
  <div class="style-post">
    <img class='style-image' src="<%= @post.img %>">
  </div>
</p>

<p>
  <strong>게시자:</strong>
  <%= @post.name %>
</p>

<%= link_to '수정', edit_post_path(@post) %> |
<%= link_to '목록으로', posts_path %>
