<!DOCTYPE html>
<html>
<head>
  <title>멍냥몽땅</title>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation bar -->
<div class="navbar-fixed">
  <nav style="background-color: rgb(110, 238, 132);">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">멍냥몽땅</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile/index">프로필</a></li>
        <li><a href="/healthnote/index">건강수첩</a></li>
        <li><a href="/gallery/index">멍냥스타일</a></li>
        <li><a href="/main/introduction">멍냥몽땅이란?</a></li>

        <% if user_signed_in? %>
          <!-- 회원정보 수정 (비밀번호 변경) 링크 추가 -->
          <li><a href="/users/edit">회원정보 수정</a></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
          <li><%= link_to "회원가입", new_user_registration_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
