<!DOCTYPE html>
<html>
<head>
  <title>멍냥몽땅</title>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  
  <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/minigrid/2.0.0/minigrid.min.js"></script>
  
  <style type="text/css">

  body { font-family:'나눔고딕'; }

  </style>

</head>
<body>

<!-- Navigation bar -->
<div class="navbar-fixed">
  <nav style="background-color: rgb(218, 140, 141);">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">멍냥몽땅</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li id="home"><a href="/"><i class="material-icons">home</i></a></li>
        <li id="profile"><a href="/profile/index">프로필</a></li>
        <li id="healthnote"><a href="/healthnote/index">건강수첩</a></li>
        <li id="gallery"><a href="/gallery/index">멍냥스타일</a></li>
        <li id="introduction"><a href="/main/introduction">멍냥몽땅이란?</a></li>
        <% if user_signed_in? %>
          <!-- 회원정보 수정 (비밀번호 변경) 링크 추가 -->
          <li><%= link_to "회원정보 수정", edit_user_registration_path%></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
          <li><%= link_to "회원가입", new_user_registration_path %></li>
        <% end %>
      </ul>
      <!-- 모바일일 경우 보이는 메뉴 -->
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/profile/index">프로필</a></li>
        <li><a href="/healthnote/index">건강수첩</a></li>
        <li><a href="/gallery/index">멍냥스타일</a></li>
        <li><a href="/main/introduction">멍냥몽땅이란?</a></li>
        <% if user_signed_in? %>
          <!-- 회원정보 수정 (비밀번호 변경) 링크 추가 -->
          <li><%= link_to "회원정보 수정", edit_user_registration_path%></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "로그인", new_user_session_path %></li>
          <li><%= link_to "회원가입", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

<script>
$( document ).ready(function(){
  $(".button-collapse").sideNav();
  
  <% case params[:controller] %>
  <% when "main" %>
    <% if params[:action] == "introduction" %>
      $("#introduction").css("background-color", "rgba(0,0,0,0.3)");
    <% else %>
      $("#home").css("background-color", "rgba(0,0,0,0.3)");
    <% end %>
  <% when "profile" %>
    $("#profile").css("background-color", "rgba(0,0,0,0.3)");
  <% when "healthnote" %>
    $("#healthnote").css("background-color", "rgba(0,0,0,0.3)");
  <% when "gallery" %>
    $("#gallery").css("background-color", "rgba(0,0,0,0.3)");
  <% end %>
});
</script>

</body>
</html>
